<% url = params[:action] == "new" ? admin_event_periods_path : admin_event_period_path %>

<div class="w300">
	<%= simple_form_for [:admin, @period], url: url do |f| %>
		<% @errors = @period.errors.messages %>

		<%= f.input :starts_at, label: "시작 시간", label_html: { class: "fwb" }, input_html: { class: "form-control dib w100" }, error: false, discard_day: true, discard_year: true, discard_month: true %>
		<% flash_error_message(:starts_at) %>
		<br>
		<hr>
		<%= render "/shared/form_confirm_or_cancel" %>
	<% end %>
</div>