<div id="footer" class="<%= params[:action] %>">
	<div class="centering">
		<ul>
			<li><a class="mail" href="mailto://uxcs@uxcamp.co.kr">mail</a></li>
			<li><a class="twitter" href="http://twitter.com/uxcampseoul">twitter</a></li>
			<li><a class="facebook" href="http://www.facebook.com/UXCampSeoul">facebook</a></li>
		</ul>
		<p class="copyright">@ Copyright 2014 UX Camp Seoul 2014.</p>
	</div>
</div>