<%= button_tag type: "submit", class: "btn btn-success fr" do %>
	<span class="glyphicon glyphicon-ok"></span> 확인
<% end %>
<%=  %>
<%= link_to '취소', {:controller => params[:controller], :action => "index"}, class: "btn btn-default fl" %>
