<title>UX Camp Seoul</title>
<meta property="og:title" content="UX Camp Seoul">
<meta property="og:url" content="http://www.uxcamp.co.kr">
<meta name="description" content="UXCamp는 UX(User eXperience)관련 전문가, 교육자, 학생 혹은 UX에 관심 있는 모든 사람들이 자유롭게 생각을 공유하는 행사입니다. 2014년 3월 15일 토요일 서울 크리에이티브 랩" />
<meta property="og:description" content="UXCamp는 UX(User eXperience)관련 전문가, 교육자, 학생 혹은 UX에 관심 있는 모든 사람들이 자유롭게 생각을 공유하는 행사입니다. 2014년 3월 15일 토요일 서울 크리에이티브 랩">

<meta property="og:image" content="http://uxcamp.co.kr/images/uxcamp5th/uxcamp_logo.jpg?t=12345?">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="308">
<meta property="og:image:height" content="308">

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta content="/images/favicons/favicon-128.png" itemprop="image">
<link rel="apple-touch-startup-image" href="/images/favicons/startup.png">
<link rel="shortcut icon" sizes="128x128" href="/images/favicons/favicon-128.png">
<link rel="shortcut icon" sizes="196x196" href="/images/favicons/favicon-196.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/favicon-152.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/favicon-144.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/favicon-120.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/favicon-114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/favicon-72.png">
<link rel="apple-touch-icon" href="/images/favicons/favicon-60.png">
<link rel="shortcut icon" href="/images/favicons/favicon.ico">

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->