<div class="history show">
	<div class="another_wrap centering">
		<%= link_to "이전 회차 보기", history_path, id: "another" %>
	</div>
	<%= render 'about' %>
	<%= render 'photos' %>
	<%= render 'organizers' %>
</div>