<div id="section_aboutus" class="section">
	<div class="centering">
		<h3>About Us</h3>
		<div class="information">
			<%= @event.summary.html_safe if @event.summary.present? %>
		</div>
	</div>
</div>