<section id="section_aboutus">
	<div class="centering">
		<h3>About Us</h3>
		<div class="information">
			<p>UXCamp는 UX(User eXperience)관련 전문가, 교육자, 학생 혹은 UX에 관심 있는 모든 사람들이 자유롭게 생각을 공유하는 행사입니다.<br>UXCamp는 미국, 캐나다, 유럽 등 전 세계에서 수차례 진행되었으며, 국내에서는 'UXCampSeoul'이란 이름으로 2010년, 2011년 봄과 가을, 2012년 여름에 이어  다섯 번째 행사를 개최합니다. 다섯 번째 UXCampSeoul의 슬로건은 'Behind The Curtain' 입니다.</p>
			<p><span class="fwb">Behind The Curtain</span><br>수동적인 목표가 아닌 커튼 너머의 자유롭고 다듬어지지 않은 날것 그대로의 실무 이야기를 나누는 자리 입니다.<br>보다 현명한 문제 해결을 위해 다양한 배경의 사람들이 모여 같은 관심사를 나누고 새로운 동료를 만나는 경험을 함께 하시길 바랍니다.<br>다양한 디바이스의 활용과 경계가 사라진 비지니스는 사람들의 삶을 온라인/ 오프라인을 넘나들도록 이끌고 있습니다.<br>이런 환경의 변화를 어떻게 받아들여 야 할까요? 그리고 우리는 사람들의 삶을 더욱 풍요롭게 하기 위해서 무엇을 해야 할까요?<br>UXCampSeoul을 통해 같은 관심사를 가진 다양한 사람들의 생각을 들어보고, 여러분의 생각과 소중한 경험을 다른 참여자들에게 나누어 주세요.<br>4개 방에서는 매 세션마다 다른 컨퍼런스가 진행되며, 총 16가지의 다양한 형식과 주제의 컨퍼런스가 진행될 예정입니다.<br>컨퍼런스 주제는 행사 당일, 발표 참여자에게서 수집하여 공지됩니다.<br>청중 참여자들은 강의실을 자유롭게 이동하며 원하는 주제에 대해 발표를 듣고 의견을 나눌 수 있습니다.<br>Barcamp는  정해진 발표자없이 참가자들이 즉석에서 발표하고 청중으로 참여할 수 있습니다.<br>여러분이 지닌 UX에 대한 생각과 다양한 경험의 씨앗을 UXCampSeoul과 함께 공유해주세요.</p>
		</div>
	</div>
</section>