<div id="header">
	<div class="centering">
		<div class="logo"><a href="/"><%= image_tag "/images/uxcamp5th/uxcamp_logo.jpg", class: "big logo", alt: "UX CampSeoul Logo" %><%= image_tag "camp5th/uxcamp_logo.png", alt: "title" %><h1>UXCampSeoul</h1></a></div>
		<ul class="gnb">
			<li class="m"><a class="uxcamp" href="#section_uxcamp">UX Camp Seoul 2014</a></li>
			<li><a class="aboutus" href="#section_aboutus">About Us</a></li>
			<li><a class="programs" href="#section_programs">Programs</a></li>
			<li><a class="speakers" href="#section_speakers">Speakers</a></li>
			<li><a class="supporters" href="#section_supporters">Supporters</a></li>
			<li><a class="organizers" href="#section_organizers">Organizers</a></li>
			<li><a class="location" href="#section_location">Location</a></li>
			<li class="m"><%= link_to "History", history_path, class: "history" %></li>
		</ul>		
	</div>
</div>