<div id="header">
	<div class="centering">
		<div class="logo">UXCampSeoul</div>
		<ul class="gnb">
			<li class="uxcamp">UX Camp Seoul 2014</li>
			<li class="aboutus">About Us</li>
			<li class="programs">Programs</li>
			<li class="speakers">Speakers</li>
			<li class="sponsors">Sponsors</li>
			<li class="organizers">Organizers</li>
			<li class="location">Location</li>
			<li class="history">History</li>
		</ul>		
	</div>
</div>