<section id="section_location">
	<div class="centering">
		<h3>Location</h3>
		<div class="location">
			<p>서울 은평구 녹번동 5 질병관리본부 21동 3층<br>서울크리에이티브랩</p>
			<p>6호선 불광역 2번 출구<br>정면 횡단 보도 건넌 후 약 500M 직진</p>
			<%= link_to "지도보기", "http://map.naver.com/?dlevel=12&pinType=site&pinId=32058551&x=126.9338487&y=37.6075547&enc=b64", target: "_blank" %>
		</div>
		<%= image_tag "camp5th/uxcamp_5th_map.png" %>
	</div>
</section>