<section id="section_speakers">
	<div class="centering">
		<h3>Speakers</h3>
		<ul class="speakers">
			<li class="speaker">
				<div class="header">
					<p class="name">노병욱</p>
					<p class="title">마술이 세상을 행복하게 하는 방법</p>
				</div>
				<div class="body">
					<div class="photo"><%= image_tag "camp5th/_speaker_sample.jpg" %></div>
					<div class="col1">사람을 행복하게 만드는 마술은 우리 삶에 긍정성과 인상깊은 경험을 제공합니다. 마술이라는 다른 분야에서 사람을 행복하게 하는 방법을 슬쩍 들여다보며 우리가 사용자를 행복하게 할 수 있는 방법에 적용해보는 건 어떨까요?</div>
					<div class="col2">비즈매직 수석 매지션, IBM(세계마술협회) / SAM(미국마술사협회) 정회원, 전 KYBC 리포터 강의, 現 비즈매직 아카데미 수석강사, 커리어다음(CareerDaum) <취업을 위한 마술> 공개 강의, 비즈매직아카데미 <제2회 매직스쿨> 공개 강의 SBS, MBC, KBS, MTV, EBS 등 다수 프로그램에 등장</div>
				</div>
			</li>
			<li class="speaker">
				<div class="header">
					<p class="name">정기원</p>
					<p class="title">세상을 바꾸고 싶어?</p>
				</div>
				<div class="body">
					<div class="photo"><%= image_tag "camp5th/_speaker_sample.jpg" %></div>
					<div class="col1">세상에는 임팩트 있는 사람과 없는 사람이 있다. 
남과 다르지만 구체적으로 사고하는 방법부터 익혀야 한다. 자유로워 보이는 상상력이 사실 지독한 훈련의 산물이고 무모해 보이는 열정이 실은 냉철한 분석의 산물이듯, 알고보면 성공은 지극히 개인적인 결정이다.</div>
					<div class="col2">카네기멜론, 마이크로소프트, IDEO, MIT 미디어 랩에서 인터랙션 디자인과 전략, 제품개발과 기술 개발을 전개한 경험을 바탕으로... 스타트업을 하고 있다. 왜? 내가 얼마나 세상을 바꿀 수 있는지 직접 측량해 보고 싶기 때문이다. 그래서 지금, 홍대앞에 Lab80을 창업하고 달리고 있다.</div>
				</div>
			</li>
		</ul>
	</div>
</section>