<div id="section_speakers" class="section">
	<div class="centering">
		<h3>Speakers</h3>
		<ul class="speakers">
			<li class="speaker">
				<div class="header">
					<p class="name">김동현 <span class="fcgr fwn">(現 SWBK 수석디자이너)</span></p>
					<p class="title">산업디자인 관점에서의 사용자 경험(UX)</p>
				</div>
				<div class="body">
					<div class="photo"><%= image_tag "/images/uxcamp5th/speaker1.jpg" %></div>
					<div class="col1">이제는 다양한 곳에서 User Experience가 이야기 되고 있다.<br>그 다양한 분야 중 산업디자이너가 접근하는 UX는 어떤 방향으로 접근하고 결과물을 만들어 내고 있는지,<br>산업디자이너만이 표현할 수 있는 UX는 어떤 것들이 있는지<br>생생한 필드의 이야기를 하고자 한다.</div>
					<div class="col2">웅진 서비스 디자인 프로젝트,<br>DELL 네덜란드 HQ와 아시아 트렌드 리서치 진행,<br>아모레퍼시픽 설화문화전 브랜딩&공간 경험 프로젝트 진행,<br>한화 갤러리아 MD 특강 '공간에 대한 UX',<br>MATTER & MATTER의 Lighting series를 통해<br>파리장식미술관과 KCDF의 초청으로 파리 메종오브제 참가</div>
				</div>
			</li>
			<li class="speaker">
				<div class="header">
					<p class="name">우상훈 <span class="fcgr fwn">(現 NHN UIT Team 실장)</span></p>
					<p class="title">내 안에 있는 나의 시선을 찾아보자</p>
				</div>
				<div class="body">
					<div class="photo"><%= image_tag "/images/uxcamp5th/speaker2.jpg" %></div>
					<div class="col1">UX라는 이야기로 만난 우리는 사용자를 얼마나 이해하고 있을까.<br>다양한 가이드라인과 리서치 기법이 넘친다.<br>그들만의 방법론은 쉽게 접할 수 있지만,<br>그 방법론을 나에게 적용하는 일은 쉽지 않다.<br>그들의 눈이 아닌 내 눈으로 제품과 서비스를 바라보는 방법에 대해서 이야기를 나누고자 한다.</div>
					<div class="col2">나모인터랙티브, LG전자,<br>NHN에서의 UX디자인 및 UI개발 실무 경험,<br>주요 대기업 및 학교에 사용자경험 및<br>인터페이스(UX/UI)에 대한 다수의 강의</div>
				</div>
			</li>
		</ul>
	</div>
</div>
