<section class="information_section">
	<%= @event.title %><br>
	행사 기간 : 
	<% if hdate(@event.starts_at, "") == hdate(@event.ends_at, "") %>
		<%= hdate(@event.starts_at, "") %> 하루
	<% else %>
		<%= hdate(@event.starts_at, "") %> ~ <%= hdate(@event.ends_at, "") %>
	<% end %>
	<br>
</section>