<div id="section_uxcamp" class="section">
	<div class="centering">
		<p class="uxcamp_title">UXCampSeoul. 5th</p>
		<%= image_tag "/images/uxcamp5th/hero.png", class: "hero", alt: "Behind the Curtain" %>
		<h1><%= @event.title %></h1>
		<h2>Behind the Curtain</h2>
		<div class="information">
			<dl>
			  <dt class="where">Where</dt>
			    <dd class="where">서울 은평구 녹번동 5 질병관리본부 21동 3층 서울크리에이티브랩</dd>
				<br>
			  <dt class="when">When</dt>
			    <dd class="when">2014.03.15 (토) 10:00 am - 5:20 pm</dd>
			</dl>
		</div>
	</div>
</div>
<div class="mobile_spacer"></div>