<div id="section_uxcamp" class="section">
	<div class="centering">
		<h2>BEHIND<br>THE<br>CURTAIN</h2>
		<div class="information">
			<h1><%= @event.title %></h1>
			<dl>
			  <dt class="where">Where</dt>
			    <dd class="where">서울 은평구 녹번동 5<br>질병관리본부 21동 3층<br>서울크리에이티브랩</dd>
			  <dt class="when">When</dt>
			    <dd class="when">2014.03.15 (토)<br>11:00 am - 6:00 pm</dd>
			</dl>
		</div>
	</div>
	<a id="register" href="#">등록하기</a>
</div>