@import "compass";
@import "compass/reset";
@import "mixin";


.centering {
	max-width: 1180px;
	min-width: 960px;
	margin: 0 auto;
}

#header {
	width: 100%;
	height: 50px;
	background-color: white;
	border-bottom: 1px solid black;
	&.scroll {
		position: fixed;
		top: 0px;
		z-index: 100;
	}
	.logo {
		float: left;
		height: 50px;
		&.big {
			width: 0px;
			height: 0px;
		}
		a {
			display: block;
			h1 { @include hide_text }
		}
	}
	.gnb {
		float: right;
		li {
			float: left;
			color: black;
			a {
				&.uxcamp { @include sprite_replace_text_anchor($camp5th_sprite, 'gnb_uxcamp') }
				&.aboutus { @include sprite_replace_text_anchor($camp5th_sprite, 'gnb_aboutus') }
				&.programs { @include sprite_replace_text_anchor($camp5th_sprite, 'gnb_programs') }
				&.speakers { @include sprite_replace_text_anchor($camp5th_sprite, 'gnb_speakers') }
				&.supporters { @include sprite_replace_text_anchor($camp5th_sprite, 'gnb_sponsors') }
				&.organizers { @include sprite_replace_text_anchor($camp5th_sprite, 'gnb_organizers') }
				&.location { @include sprite_replace_text_anchor($camp5th_sprite, 'gnb_location') }
				&.history { @include sprite_replace_text_anchor($camp5th_sprite, 'gnb_history') }
			}
		}
	}
}

#contents {
	.section {
		width: 100%;
		float: left;
	}
	.register_wrap {
		position: fixed;
		width: 100%;
		height: 45px;
		z-index: 99999;
		bottom: 80px;
		left: 50%;
		margin-left: -590px;
		&.scroll {
			bottom: 180px;
		}
		#register {
			@include sprite_replace_text_anchor($camp5th_sprite, 'btn_register');
			display: block;
			position: absolute;
			z-index: 100;
			left: 0px;
		}
	}
	.mobile_spacer { display: none; }

	#section_uxcamp {
		position: relative;
		background-color: black;
		color: white;
		height: 1150px;
		&.scroll {
			padding-top: 50px;
		}
		.centering {
			position: relative;
			text-align: center;
			.uxcamp_title {
				margin-top: 100px;
				font-size: 30px;
				font-weight: 500;
			}
			.hero {
				margin-top: 40px;
			}
			h1,h2 {
				overflow: hidden;
				width: 0px;
				height: 0px;				
			}
			.information {
				margin: 0 auto;
				dl {
					width: 440px;
					margin: 0 auto;
					margin-top: 30px;
					text-align: left;
					dt {
						display: inline-block;
						*display: inline;
						zoom: 1;
						font-size: 16px;
						color: white;
						margin-bottom: 8px;
						&.where { margin-right: 8px }
						&.when { margin-right: 14px }
					}
					dd {
						display: inline-block;
						*display: inline;
						zoom: 1;
						font-size: 13px;
						line-height: 14px;
						color: #999;
						margin-bottom: 8px;
					}
				}
			}
		}
	}
	#section_aboutus {
		background: white image-url('camp5th/bg_aboutus.png') no-repeat 580px 110px;
		color: black;
		padding-top: 170px;
		padding-bottom: 100px;
		height: 520px;
		h3 { 
			@include sprite_replace_text($camp5th_sprite, 'title_aboutus');
		}
		.information {
			@include content_right;
			margin-top: 45px;
			font-size: 14px;
			line-height: 22px;
			color: #666;
			p {
				margin-bottom: 20px;
			}
		}
	}
	
	#section_programs {
		background-color: white;
		color: black;
		padding-top: 60px;
		h3 { @include sprite_replace_text($camp5th_sprite, 'title_programs') }
		.information { display: none }
		.programs {
			@include content_right;
			margin-top: 78px;
			.row {
				float: left;
				width: 100%;
				&.rooms {
					.time {
						padding: 0px;
					}
					.session {
						width: 175px;
						height: initial !important;
						margin-right: 18px;
						float: left;
						&:last-child {
							margin-right: 0px;
						}
						h4 {
							font-size: 13px;
							color: #c8c8c8;
							padding: 10px 0px;
							border-top: 1px solid #e0e0e0;
						}
					}
				}
				div {
					vertical-align: top;
				}
				.time {
					float: left;
					width: 65px;
					text-align: left;
					font-size: 16px;
					font-weight: bold;
					color: #666;
					border-top: 1px solid #e0e0e0;
					padding-top: 10px;
					padding-bottom: 30px;
				}
				.session {
					position: relative;
					float: left;
					width: 173px;
					height: 58px;
					margin-right: 20px;
					cursor: pointer;
					&:last-child {
						margin-right: 0px;
						.more_info {
							margin-left: -193px;
						}
					}
					&:hover {
						a {
							text-decoration: underline;
							color: #0074d9 !important;
						}
					}
					.head {
						border-top: 1px solid #e0e0e0;
						padding-top: 10px;
						font-size: 13px;
						line-height: 14px;
						color: #666;
						h4 {
							@include ellipsis;
						}
						a {
							color: black;
							&:hover {
								color: #0074d9;
							}
						}
						.title {
							@include ellipsis;
						}
					}
					.more_info {
						display: none;
						position: absolute;
						top: 0px;
						left: 0px;
						margin-top: 58px;
						width: 365px;
						font-size: 13px;
						line-height: 20px;
						color: #666;
						background-color: white;
						border: 2px solid black;
						z-index: 99;
						.header {
							border-bottom: 2px solid black;
							padding: 10px;
							a {
								color: black !important;
								text-decoration: none;
							}
						}
						.content {
							padding: 10px;
						}
					}
				}
			}
		}
		.program_comment {
			float: right;
			width: 820px;
			margin-right: 10px;
			margin-top: 20px;
			font-size: 13px;
			line-height: 20px;
			color: #888;
		}

	}
	#section_speakers {
		background-color: white;
		color: black;
		padding-top: 140px;
		h3 { @include sprite_replace_text($camp5th_sprite, 'title_speakers') }
		.speakers {
			@include content_right;
			margin-top: 80px;
			margin-bottom: 10px;
			.speaker {
				float: left;
				margin-bottom: 60px;
				.header {
					.name {
						font-size: 20px;
						font-weight: bold;
						color: black;
						span {
							color: gray;
							font-size: 14px;
						}
					}
					.title {
						font-size: 16px;
						line-height: 30px;
						font-weight: normal;
						color: #666;
						border-bottom: 1px solid #999;
						margin-bottom: 20px;
					}
				}
				.photo,
				.col1,
				.col2 {
					float: left;
					width: 326px;
					margin-right: 20px;
				}
				.col1,
				.col2 {
					margin-top: -5px;
					font-size: 13px;
					line-height: 22px;
					color: #666;
				}
				.photo {
					width: 128px;
					height: 150px;
				}
				.col2 {
					margin-right: 0px;
				}
			}
		}
	}
	#section_supporters {
		background-color: white;
		color: black;
		padding-top: 100px;
		h3 { @include sprite_replace_text($camp5th_sprite, 'title_sponsors') }
		.supporters {
			@include content_right;
			margin-top: 80px;
			.supporter {
				float: left;
				text-align: center;
				box-sizing: content-box;
				margin-right: 17px;
				margin-bottom: 17px;
				&.right_side { margin-right: 0px }
				a {
					display: block;
					width: 260px;
					height: 150px;
					line-height: 150px;
					border: 1px solid #d6d6d6;
					&:hover { border: 1px solid #999 }
					img {
						vertical-align: middle;
					}
				}
			}
		}
		.supporter_notice {
			float: right;
			width: 830px;
			color: #999;
			line-height: 160%;
			margin-top: -10px;
			font-size: 14px;
		}
	}
	#section_organizers {
		background-color: white;
		color: black;
		padding-top: 150px;
		padding-bottom: 70px;
		@include organizers;
		h3 { @include sprite_replace_text($camp5th_sprite, 'title_organizers') }
	}
	#section_location {
		background-color: black;
		color: white;
		height: 800px;
		padding-bottom: 70px;
		.centering {
			position: relative;
			h3 {
				@include sprite_replace_text($camp5th_sprite, 'title_location');
				position: absolute;
				z-index: 10;
				top: 100px;
				left: 0px;
			}
			.location {
				position: absolute;
				top: 180px;
				left: 0px;
				z-index: 10;
				p {
					font-size: 14px;
					line-height: 20px;
					margin-bottom: 10px;
				}
				@media all and (min-width:768px) {
					a {
						@include sprite_replace_text_anchor($camp5th_sprite, 'btn_location');
						display: block;
						margin-top: 15px;
					}
				}
			}
			img {
				position: absolute;
				top: 100px;
				left: 180px;
				z-index: 1;
			}
		}
	}
}

@include footer;


@media all and (max-width:1180px) {
	h3 { margin-left: 20px }
	#contents {
		.register_wrap {
			margin-left: -490px;
		}
		#section_location {
			.location {
				left: 20px !important;
			}
		}
	}		
}

@media all and (max-width:767px) {
	// FOR MOBILE
	body {
		background-color: black !important;
		.centering {
			max-width: initial;
			min-width: initial;
		}
		#header {
			height: 80px;
			&.scroll { position: relative; }
			.logo {
				width: 100%;
				height: 80px;
				border-bottom: 2px solid black;
				img { display: none; }
				h1 {
					@include sprite_replace_text($camp5th_mobile_sprite, 'uxcamp_logo');
					margin: 0 auto;
				}
			}
			.gnb {
				width: 100%;
				overflow: hidden;
				background-color: white;
				li {
					display: none;
					&.m {
						display: block;
						width: 50%;
						height: 78px;
						&:first-child {
							background-color: black;
						}
						a {
							width: 100%;
							height: 100%;
							margin: 0 auto;
						}
						.uxcamp { background: image-url('camp5th/mobile/gnb_uxcamp.png') center center no-repeat; }
						.history { background: image-url('camp5th/mobile/gnb_history.png') center center no-repeat; }
					}
				}
				
			}
		}
		#contents {
			.register_wrap {
				left: 50px;
				margin-left: 0px;
				bottom: 50px;
				&.scroll {
					bottom: 190px;
				}
			}
			.mobile_spacer {
				@include sprite_replace_text($camp5th_mobile_sprite, 'mobile_spacer');
				margin: 0 auto;
			}
			h3 { margin: 0 auto }

			#section_uxcamp {
				height: 810px !important;
				&.scroll { padding-top: 0px; }
				.uxcamp_title {
					display: none;
				}
				.hero {
					max-width: 500px;
					width: 90%;
					margin-top: 100px !important;
				}
				.information {
					padding: 0 30px;
					dl {
						width: initial !important;
						max-width: 500px !important;
						dt {
							font-size: 18px !important;
						}
						dd {
							font-size: 16px !important;
							line-height: 24px !important;
							color: #c8c8c8 !important;
						}
					}
				}
			}
			#section_aboutus {
				background: none;
				background-color: black;
				padding-top: 120px !important;
				padding-bottom: 50px !important;
				height: initial;
				h3 { @include sprite_replace_text($camp5th_mobile_sprite, 'title_aboutus') }
				.information {
					margin-top: 30px !important;
					padding: 50px !important;
					width: initial;
					margin-right: initial;
					font-size: 16px;
					line-height: 26px;
					color: #c8c8c8;
				}
			}
			#section_programs {
				background-color: black;
				padding-top: 120px !important;
				padding-bottom: 100px;
				h3 { @include sprite_replace_text($camp5th_mobile_sprite, 'title_programs') }
				.information {
					display: block;
					width: 100%;
					text-align: center;
					font-size: 16px;
					color: #a0a0a0;
					margin-top: 30px;
				}
				.programs {
					width: initial;
					margin-top: 0px;
					margin-right: initial;
					padding: 50px;
					padding-bottom: 0px;
					&.room3 {
						.time { width: 13% !important }
						.session { width: 29% !important }
					}
					.row {
						border-top: 1px solid #3d3d3d;
						&:first-child {
							border-top: 1px solid #666;
							.time,
							.session .title {
								border-top: none;
							}
						}
						&.rooms {
							.time {
								height: 50px;
							}
							.session {
								margin-right: 0px;
								h4 {
									border-top: none;
									font-size: 20px !important;
									color: white;
									padding: 15px 0;
								}
							}
						}
						.time {
							border-top: none;
							p {
								color: white;
								font-size: 18px;
							}
						}
						.session {
							padding-top: 0px;
							height: initial;
							margin-right: 0px;
							&.full {
								width: initial !important;
								float: none;
							}
							.head {
								padding-top: 0px;
								line-height: 16px;
								border-top: none;
								h4 {
									padding-top: 8px;
									padding-bottom: 26px;
									font-size: 16px;
									line-height: 26px;
									color: #c8c8c8;
									.d { display: none }
									.title {
										display: block;
										padding-right: 10px;
										word-wrap: break-word;
										white-space: initial;
									}
								}
							}
						}
					}
				}
				.program_comment {
					float: none;
					width: initial;
					padding: 0 50px;
					margin-right: 0px;
					margin-top: 0px;
					font-size: 16px;
					line-height: 26px;
				}
			}

			#section_speakers {
				padding-top: 120px;
				background-color: black;
				h3 { @include sprite_replace_text($camp5th_mobile_sprite, 'title_speakers') }
				ul {
					width: initial !important;
					float: left !important;
					margin-right: 0px !important;
					margin-bottom: 40px !important;
					padding: 0 50px;
					li {
						position: relative;
						float: none;
						.photo {
							position: absolute;
							top: 0px;
							left: 0px;
						}
						.header {
							position: absolute;
							top: 90px;
							left: 158px;
							.name {
								font-size: 25px !important;
								color: white !important;
								span {
									font-size: 16px;
									color: silver !important;
								}
							}
							.title {
								color: white !important;
								line-height: 36px !important;
								border-bottom: none !important;
								margin-bottom: 0px !important;
							}
						}
						.col1,
						.col2 {
							width: 100% !important;
							font-size: 16px !important;
							line-height: 26px !important;
							color: #c8c8c8 !important;
						}
						.col1 {
							margin-top: 181px !important;
							margin-bottom: 30px !important;
							padding-top: 30px;
							border-top: 1px solid white;
						}
					}
				}
			}

			#section_supporters {
				padding-top: 0px;
				padding-bottom: 100px;
				background-color: black;
				h3 {
					margin-top: 120px;
					margin-bottom: 80px;
					@include sprite_replace_text($camp5th_mobile_sprite, 'title_supporters');
				}
				ul.supporters {
					width: initial !important;
					float: left !important;
					margin-top: 0px !important;
					margin-right: 0px !important;
					margin-bottom: -6px !important;
					padding: 5% 0 0 5%;
					li.supporter {
						width: 45% !important;
						background-color: white;
						margin-right: 5% !important;
						margin-bottom: 5% !important;
						a {
							border: none;
							width: 100%;
							height: auto;
						}
						img {
							width: 100% !important;
						}
					}
				}
				.supporter_notice {
					float: none;
					width: initial;
					color: #888;
					line-height: 26px;
					margin-top: -10px;
					font-size: 16px;
					padding: 0 40px;
				}
			}

			#section_organizers {
				padding-top: 0px;
				padding-bottom: 100px;
				background-color: black;
				h3 {
					margin-top: 120px;
					margin-bottom: 60px;
					@include sprite_replace_text($camp5th_mobile_sprite, 'title_organizers');
				}
				.organizers {
					float: none;
					width: initial;
					margin-top: 0px;
					margin-right: 0px;
					padding: 0 50px;
					h4 {
						padding: 8px 0px 6px;
						font-size: 16px;
						color: #c8c8c8;
						border-color: #3d3d3d;
					}
					ul.group {
						li.organizer {
							.name {
								color: white;
								font-size: 16px;
							}
							.name_en { display: none }
							.link { color: #c8c8c8 }
						}
					}
				}
			}

			#section_location {
				padding-top: 120px;
				padding-bottom: 110px;
				height: initial;
				h3 {
					position: initial !important;
					@include sprite_replace_text($camp5th_mobile_sprite, 'title_location');
				}
				.location {
					position: initial !important;
					margin-top: 80px;
					padding: 0 50px;
					div {
						float: left;
						p {
							font-size: 16px !important;
							line-height: 26px !important;
						}
					}
					a {
						@include sprite_replace_text($camp5th_mobile_sprite, 'btn_location') ;
						float: right;
						margin-top: 30px;
					}
				}
				img { display: none !important }
			}
		}

		#footer {
			.centering {
			}
		}
	}
}

@media all and (max-width:480px) {
	body {
		background-color: blue !important;
	}
	#header ul.gnb {
		li {
			height: 60px !important;
			a {
				text-indent: 0 !important;
				font-size: 20px !important;
				line-height: 60px !important;
				text-align: center !important;
				background-image: none !important;
				&.uxcamp {
					color: white !important;
					text-decoration: underline;
				}
				&.history { color: #cacaca !important }
			}
		}
	}
	#section_programs {
		.programs {
			padding: 20px 0px !important;
		}
		.program_comment {
			padding: 0px 10px !important;
		}
	}
	#section_speakers {
		.speakers {
			padding: 10px !important;
		}
	}
}
