@import "compass";
@import "compass/reset";
@import "mixin";

@mixin content_right {
	float: right;
	width: 820px;
	margin-right: 10px;
}

body,input,textarea,select,button,table,pre{
	font-family: "Helvetica", "Apple SD Gothic Neo", "나눔고딕", "NanumGothic", "NanumGothicOTF", "맑은고딕", "Malgun Gothic", dotum, "Trebuchet MS", "Lucida Grande", "Tahoma", "Arial",'돋움', sans-serif;
	font-size: 12px;
}

.centering {
	width: 1180px;
	margin: 0 auto;
}

#header {
	width: 100%;
	height: 50px;
	background-color: white;
	border-bottom: 1px solid black;
	&.scroll {
		position: fixed;
		top: 0px;
		z-index: 100;
	}
	.logo {
		float: left;
		height: 50px;
		h1 { @include hide_text }
		&.big {
			width: 0px;
			height: 0px;
		}
	}
	.gnb {
		float: right;
		li {
			float: left;
			color: black;
			a {
				&.uxcamp { @include sprite_replace_text_anchor($camp5th_sprite, 'gnb_uxcamp') }
				&.aboutus { @include sprite_replace_text_anchor($camp5th_sprite, 'gnb_aboutus') }
				&.programs { @include sprite_replace_text_anchor($camp5th_sprite, 'gnb_programs') }
				&.speakers { @include sprite_replace_text_anchor($camp5th_sprite, 'gnb_speakers') }
				&.supporters { @include sprite_replace_text_anchor($camp5th_sprite, 'gnb_sponsors') }
				&.organizers { @include sprite_replace_text_anchor($camp5th_sprite, 'gnb_organizers') }
				&.location { @include sprite_replace_text_anchor($camp5th_sprite, 'gnb_location') }
				&.history { @include sprite_replace_text_anchor($camp5th_sprite, 'gnb_history') }
			}
		}
	}
}

#contents {
	.section {
		width: 100%;
		float: left;
	}

	#section_uxcamp {
		position: relative;
		background-color: black;
		color: white;
		height: 1200px;
		&.scroll {
			padding-top: 50px;
		}
		.centering {
			position: relative;
			
			h2 {
				width: 0px;
				height: 0px;
				text-indent: -9900px;
			}
			
			#parrellex {
				position: relative;
				top: 70px;
				left: 0px;
				width: 610px;
				height: 700px;

				.ly_group {
					width: 610px;
					height: 440px;
				}
				.ly_dynamic {
					position: absolute;
					left: 0px;
				}
				.ly_fixed {
					position: absolute;
					top: 0px;
					left: 0px;
					z-index: 30;
					background: image-url('camp5th/title_fixed.png') no-repeat;
				}
				.visible {
					top: 0px;
					opacity: 1;
				}
				.ly_top1,
				.ly_top2,
				.ly_bottom {
					position: absolute;
					top: 0px;
					left: 0px;
					opacity: 1;
				}
				.ly_top1 {
					background: image-url('camp5th/title_02.png') no-repeat;
					z-index: 20;
					&.hidden {
						top: -1000px;
						opacity: 0;
					}
				}
				.ly_top2 {
					background: image-url('camp5th/title_03.png') no-repeat;
					z-index: 40;
					&.hidden {
						top: -500px;
						opacity: 0;
					}
				}
				.ly_bottom {
					background: image-url('camp5th/title_01.png') no-repeat;
					z-index: 10;
					&.hidden {
						top: 1000px;
						opacity: 0;
					}
				}
			}
			.information {
				position: absolute;
				top: 550px;
				h1 { @include sprite_replace_text($camp5th_sprite, 'title_uxcamp') }
				dl {
					position: relative;
					top: 14px;
					left: 0px;
					dt {
						position: absolute;
						top: 0px;
						width: 150px;
						margin-right: 20px;
						padding: 6px 0px 2px 0px;
						border-top: 1px solid #808080;
						border-bottom: 1px solid #808080;
						font-size: 16px;
						line-height: 26px;
						&.where { left: 0px }
						&.when { left: 170px }
					}
					dd {
						position: absolute;
						top: 44px;
						width: 150px;
						font-size: 13px;
						line-height: 19px;
						color: #999;
						&.where { left: 0px }
						&.when { left: 170px }
					}
				}
			}
		}
		#register {
			@include sprite_replace_text_anchor($camp5th_sprite, 'btn_register');
			display: block;
			position: absolute;
			z-index: 100;
			bottom: 444px;
			left: 50%;
			margin-left: -590px;
			&.scroll {
				position: fixed;
				bottom: 30px;
				top: initial;
			}
		}
	}
	.curtain {
		float: left;
		width: 100%;
		height: 22px;
		background: white image-url('camp5th/curtain.png') repeat-x;
	}
	#section_aboutus {
		background: white image-url('camp5th/bg_aboutus.png') no-repeat 580px 110px;
		color: black;
		padding-top: 170px;
		padding-bottom: 100px;
		height: 520px;
		h3 { 
			@include sprite_replace_text($camp5th_sprite, 'title_aboutus');
		}
		.information {
			@include content_right;
			margin-top: 45px;
			font-size: 14px;
			line-height: 22px;
			color: #666;
			p {
				margin-bottom: 20px;
			}
		}
	}
	
	#section_programs {
		background-color: white;
		color: black;
		padding-top: 60px;
		h3 { @include sprite_replace_text($camp5th_sprite, 'title_programs') }
		.programs {
			@include content_right;
			margin-top: 78px;
			.row {
				float: left;
				width: 100%;
			}
			.rooms {
				.time {
					padding: 0px;
				}
				.title {
					width: 175px;
					margin-right: 18px;
					float: left;
					&:last-child {
						margin-right: 0px;
					}
					h4 {
						font-size: 13px;
						color: #c8c8c8;
						padding: 10px 0px;
						border-top: 1px solid #e0e0e0;
					}
				}
			}
			.row div {
				vertical-align: top;
			}
			.time {
				float: left;
				width: 65px;
				text-align: left;
				font-size: 16px;
				font-weight: bold;
				color: #666;
				border-top: 1px solid #e0e0e0;
				padding-top: 10px;
				padding-bottom: 30px;
			}
			.session {
				position: relative;
				float: left;
				width: 173px;
				height: 58px;
				margin-right: 20px;
				cursor: pointer;
				&:last-child {
					margin-right: 0px;
					.more_info {
						margin-left: -193px;
					}
				}
				&:hover {
					a {
						text-decoration: underline;
						color: #0074d9 !important;
					}
				}
				.title {
					border-top: 1px solid #e0e0e0;
					padding-top: 10px;
					font-size: 13px;
					line-height: 14px;
					color: #666;
					a {
						color: black;
						&:hover {
							color: #0074d9;
						}
					}
				}
				.more_info {
					display: none;
					position: absolute;
					top: 0px;
					left: 0px;
					margin-top: 58px;
					width: 365px;
					font-size: 13px;
					line-height: 20px;
					color: #666;
					background-color: white;
					border: 2px solid black;
					z-index: 99;
					.header {
						border-bottom: 2px solid black;
						padding: 10px;
						a {
							color: black !important;
							text-decoration: none;
						}
					}
					.content {
						padding: 10px;
					}
				}
			}
		}
	}
	#section_speakers {
		background-color: white;
		color: black;
		padding-top: 140px;
		h3 { @include sprite_replace_text($camp5th_sprite, 'title_speakers') }
		.speakers {
			@include content_right;
			margin-top: 80px;
			margin-bottom: 10px;
			.speaker {
				float: left;
				margin-bottom: 60px;
				.header {
					.name {
						font-size: 20px;
						font-weight: bold;
						color: black;
					}
					.title {
						font-size: 16px;
						line-height: 30px;
						font-weight: normal;
						color: #666;
						border-bottom: 1px solid #999;
						margin-bottom: 30px;
					}
				}
				.body {
					font-size: 13px;
					line-height: 22px;
					color: #666;
					.photo,
					.col1,
					.col2 {
						float: left;
						width: 260px;
						margin-right: 20px;
					}
					.col1,
					.col2 {
						margin-top: -5px;
					}
					.photo {
						height: 150px;
					}
					.col2 {
						margin-right: 0px;
					}
				}
			}
		}
	}
	#section_supporters {
		background-color: white;
		color: black;
		padding-top: 100px;
		h3 { @include sprite_replace_text($camp5th_sprite, 'title_sponsors') }
		.supporters {
			@include content_right;
			margin-top: 80px;
			.supporter {
				float: left;
				text-align: center;
				box-sizing: content-box;
				margin-right: 17px;
				margin-bottom: 17px;
				&.right_side { margin-right: 0px }
				a {
					display: block;
					width: 260px;
					height: 150px;
					line-height: 150px;
					border: 1px solid #d6d6d6;
					&:hover { border: 1px solid #999 }
					img {
						vertical-align: middle;
					}
				}
			}
		}
	}
	#section_organizers {
		background-color: white;
		color: black;
		padding-top: 150px;
		padding-bottom: 70px;
		h3 { @include sprite_replace_text($camp5th_sprite, 'title_organizers') }
		.organizers {
			@include content_right;
			margin-top: 40px;
			h4 {
				font-size: 13px;
				line-height: 14px;
				color: #c8c8c8;
				padding: 6px 0px;
				border-top: 1px solid #e0e0e0;
				border-bottom: 1px solid #e0e0e0;
				margin-bottom: 4px;
				margin-top: 20px;
			}
			.organizer {
				width: 100%;
				float: left;
				&.nolink {
					height: 16px;
					padding: 7px 0px;
				}
				a {
					display: block;
					padding: 7px 0px;
					cursor: pointer;
					height: 16px;
					&:hover {
						.link { color: #0074d9 !important }
					}
				}
				.name {
					float: left;
					width: 60px;
					font-size: 16px;
					color: #666;
				}
				.name_en,
				.link {
					font-size: 13px;
					line-height: 16px;
					font-weight: normal;
					color: #999;
				}
				.name_en { float: left }
				.link {
					float: right;
				}
			}
		}
	}
	#section_location {
		background-color: black;
		color: white;
		height: 800px;
		padding-bottom: 70px;
		.centering {
			position: relative;
			h3 {
				@include sprite_replace_text($camp5th_sprite, 'title_location');
				position: absolute;
				z-index: 10;
				top: 100px;
				left: 0px;
			}
			.location {
				position: absolute;
				top: 180px;
				left: 0px;
				z-index: 10;
				p {
					font-size: 14px;
					line-height: 20px;
					margin-bottom: 10px;
				}
				a {
					@include sprite_replace_text_anchor($camp5th_sprite, 'btn_location');
					margin-top: 15px;
				}
			}
			img {
				position: absolute;
				top: 100px;
				left: 180px;
				z-index: 1;
			}
		}
	}
}

/* Animation */
@keyframes top1_visible {
	0%{ top: -1000px; opacity: 0; }
	100%{ top: 0px; opacity: 1; }
}
@-ms-keyframes top1_visible {
	0%{ top: -1000px; opacity: 0; }
	100%{ top: 0px; opacity: 1; }
}
@-webkit-keyframes top1_visible {
	0%{ top: -1000px; opacity: 0; }
	100%{ top: 0px; opacity: 1; }
}
@-moz-keyframes top1_visible {
	0%{ top: -1000px; opacity: 0; }
	100%{ top: 0px; opacity: 1; }
}

@keyframes top2_visible {
	0%{ top: -500px; opacity: 0; }
	100%{ top: 0px; opacity: 1; }
}
@-ms-keyframes top2_visible {
	0%{ top: -500px; opacity: 0; }
	100%{ top: 0px; opacity: 1; }
}
@-webkit-keyframes top2_visible {
	0%{ top: -500px; opacity: 0; }
	100%{ top: 0px; opacity: 1; }
}
@-moz-keyframes top2_visible {
	0%{ top: -500px; opacity: 0; }
	100%{ top: 0px; opacity: 1; }
}

@keyframes bottom_visible {
	0%{ top: 1000px; opacity: 0; }
	100%{ top: 0px; opacity: 1; }
}
@-ms-keyframes bottom_visible {
	0%{ top: 1000px; opacity: 0; }
	100%{ top: 0px; opacity: 1; }
}
@-webkit-keyframes bottom_visible {
	0%{ top: 1000px; opacity: 0; }
	100%{ top: 0px; opacity: 1; }
}
@-moz-keyframes bottom_visible {
	0%{ top: 1000px; opacity: 0; }
	100%{ top: 0px; opacity: 1; }
}

.ly_top1.visible {
	animation: top1_visible 1.5s ease;
	-ms-animation: top1_visible 1.5s ease;
	-webkit-animation: top1_visible 1.5s ease;
	-moz-animation: top1_visible 1.5s ease;
}
.ly_top2.visible {
	animation: top2_visible 1.5s ease;
	-ms-animation: top2_visible 1.5s ease;
	-webkit-animation: top2_visible 1.5s ease;
	-moz-animation: top2_visible 1.5s ease;
}
.ly_bottom.visible {
	animation: bottom_visible 1.5s ease;
	-ms-animation: bottom_visible 1.5s ease;
	-webkit-animation: bottom_visible 1.5s ease;
	-moz-animation: bottom_visible 1.5s ease;
}


@keyframes top1_hidden {
	0%	{ top: 0px; opacity: 1 }
	100%{ top: -1000px; opacity: 0 }
}
@-ms-keyframes top1_hidden {
	0%	{ top: 0px; opacity: 1 }
	100%{ top: -1000px; opacity: 0 }
}
@-webkit-keyframes top1_hidden {
	0%	{ top: 0px; opacity: 1 }
	100%{ top: -1000px; opacity: 0 }
}
@-moz-keyframes top1_hidden {
	0%	{ top: 0px; opacity: 1 }
	100%{ top: -1000px; opacity: 0 }
}

@keyframes top2_hidden {
	0%	{ top: 0px; opacity: 1 }
	100%{ top: -500px; opacity: 0 }
}
@-ms-keyframes top2_hidden {
	0%	{ top: 0px; opacity: 1 }
	100%{ top: -500px; opacity: 0 }
}
@-webkit-keyframes top2_hidden {
	0%	{ top: 0px; opacity: 1 }
	100%{ top: -500px; opacity: 0 }
}
@-moz-keyframes top2_hidden {
	0%	{ top: 0px; opacity: 1 }
	100%{ top: -500px; opacity: 0 }
}

@keyframes bottom_hidden {
	0%	{ top: 0px; opacity: 1 }
	100%{ top: 1000px; opacity: 0 }
}
@-ms-keyframes bottom_hidden {
	0%	{ top: 0px; opacity: 1 }
	100%{ top: 1000px; opacity: 0 }
}
@-webkit-keyframes bottom_hidden {
	0%	{ top: 0px; opacity: 1 }
	100%{ top: 1000px; opacity: 0 }
}
@-moz-keyframes bottom_hidden {
	0%	{ top: 0px; opacity: 1 }
	100%{ top: 1000px; opacity: 0 }
}

.ly_top1.hidden {
	animation: top1_hidden 1.5s ease;
	-ms-animation: top1_hidden 1.5s ease;
	-webkit-animation: top1_hidden 1.5s ease;
	-moz-animation: top1_hidden 1.5s ease;
}
.ly_top2.hidden {
	animation: top2_hidden 1.5s ease;
	-ms-animation: top2_hidden 1.5s ease;
	-webkit-animation: top2_hidden 1.5s ease;
	-moz-animation: top2_hidden 1.5s ease;
}
.ly_bottom.hidden{
	animation: bottom_hidden 1.5s ease;
	-ms-animation: bottom_hidden 1.5s ease;
	-webkit-animation: bottom_hidden 1.5s ease;
	-moz-animation: bottom_hidden 1.5s ease;
}


@include footer;