/*
 *= require bootstrap.min
 */

@import "compass";
@import "compass/reset";
@import "mixin";

#header {
	width: 100%;
	height: 50px;
	background-color: white;
	.centering {
		width: 1180px;
		margin: 0 auto;
		.logo {
			float: left;
			@include sprite_replace_text($camp5th_sprite, 'header_logo');
		}
		.gnb {
			float: right;
			li {
				float: left;
				color: black;
				&.uxcamp { @include sprite_replace_text($camp5th_sprite, 'gnb_uxcamp') }
				&.aboutus { @include sprite_replace_text($camp5th_sprite, 'gnb_aboutus') }
				&.programs { @include sprite_replace_text($camp5th_sprite, 'gnb_programs') }
				&.speakers { @include sprite_replace_text($camp5th_sprite, 'gnb_speakers') }
				&.sponsors { @include sprite_replace_text($camp5th_sprite, 'gnb_sponsors') }
				&.organizers { @include sprite_replace_text($camp5th_sprite, 'gnb_organizers') }
				&.location { @include sprite_replace_text($camp5th_sprite, 'gnb_location') }
				&.history { @include sprite_replace_text($camp5th_sprite, 'gnb_history') }
			}
		}
	}
}

#contents {
	background-color: black;
}
