@import "compass";
@import "compass/reset";
@import "mixin";

body {
	&.show { background-color: white; }
	&.index { background-color: black; }
}

.centering {
	max-width: 1160px;
	min-width: 960px;
	margin: 0 auto;
}

#header {
	width: 100%;
	height: 50px;
	background-color: white;
	.logo {
		float: left;
		a {
			display: block;
			height: 50px;
			h1 { @include hide_text }
		}
	}

	&.show {
		border-bottom: 2px solid #8dc63f;
		.gnb {
			float: right;
			li {
				float: left;
				color: black;
				a.uxcamp { @include sprite_replace_text_anchor($history_sprite, 'gnb_uxcamp') }
				&.history {	@include sprite_replace_text_anchor($history_sprite, 'gnb_history') }
			}
		}
	}
	&.index {
		border-bottom: 2px solid black;
		.gnb {
			float: right;
			li {
				float: left;
				color: black;
				a.uxcamp { @include sprite_replace_text_anchor($camp5th_sprite, 'gnb_uxcamp') }
				&.history {	@include sprite_replace_text_anchor_selected($camp5th_sprite, 'gnb_history') }
			}
		}
	}
}

.history {
	background: white image-url('history/bg_aboutus.png') no-repeat 580px 180px;
	.another_wrap {
		position: fixed;
		width: 100%;
		height: 45px;
		z-index: 99999;
		bottom: 80px;
		left: 50%;
		margin-left: -590px;
		&.scroll {
			bottom: 180px;
		}
		#another {
			@include sprite_replace_text_anchor($history_sprite, 'btn_another');
			display: block;
			position: absolute;
			z-index: 100;
			left: 0px;
		}
	}
	#section_about {
		color: black;
		padding-bottom: 100px;
		height: 410px;
		h2 {
			color: #dbecc8;
			font-size: 26px;
			line-height: 26px;
			margin-top: 30px;
		}
		h3 {
			@include sprite_replace_text($history_sprite, 'title_aboutus');
			margin-top: 160px;
		}
		.information {
			@include content_right;
			margin-top: 45px;
			font-size: 16px;
			line-height: 28px;
			color: #666;
			p {
				margin-bottom: 20px;
			}
		}
	}
	#section_photos {
		height: 850px;
		h3 {
			@include sprite_replace_text($history_sprite, 'title_photos');
			margin-bottom: 80px;
		}
		#photos {
			float: right;
			margin-right: 15px;
			width: 810px;
			height: 544px;
			background-color: black;
			iframe {
				margin-left: 10px;
				margin-top: 10px;
			}
		}
	}
	#organizers_section {
		h3 { @include sprite_replace_text($history_sprite, 'title_organizers') }
		@include organizers;
		.organizers { margin-bottom: 170px }
	}
}


@include footer;

@media all and (min-width:1281px) {
	.events {
		float: left;
		width: 100%;
		background-color: black;
		.event {
			position: relative;
			width: 100%;
			height: 400px;
			overflow: hidden;
			.centering {
				position: relative;
				.title {
					position: absolute;
					top: 0px;
					left: 0px;
					display: block;
					height: auto;
					z-index: 10;
					color: white;
					font-size: 70px;
					line-height: 75px;
					font-weight: bold;
					width: 100%;
					padding-top: 100px;
					padding-bottom: 75px;
					-webkit-transition: opacity .2s ease-in-out;
					transition: opacity .2s ease-in-out;
					&.hover {
						opacity: 0;
						-webkit-transition: opacity .2s ease-in-out;
						transition: opacity .2s ease-in-out;
					}
				}
			}
			.shade {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 400px;
				z-index: 9;
				background: image-url('history/shade.png') repeat;
				-webkit-transition: opacity .2s ease-in-out;
				transition: opacity .2s ease-in-out;
				&.hover {
					opacity: 0;
					-webkit-transition: opacity .2s ease-in-out;
					transition: opacity .2s ease-in-out;
				}
			}
			.cover {
				display: none;
			}
			.banner {
				position: relative;
				top: 0px;
				left: 0px;
				width: 100%;
				height: auto;
				z-index: 7;
				-webkit-transition: opacity .2s ease-in-out;
				transition: opacity .2s ease-in-out;
				&.hover {
					opacity: 0;
					-webkit-transition: opacity .2s ease-in-out;
					transition: opacity .2s ease-in-out;
				}
			}
		}
	}
}
@media all and (max-width:1280px) {
	h3, #header img {
		margin-left: 15px;
	}
	.history {
		.another_wrap {
			margin-left: -490px;
		}
	}		
	.events {
		float: left;
		width: 100%;
		background-color: black;
		.event {
			position: relative;
			width: 100%;
			height: auto;
			.title {
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				opacity: 0;
				z-index: 10;
			}
			.shade {
				display: none;
			}
			.cover {
				position: absolute;
				width: 100%;
				height: auto;
				max-height: 400px;
				z-index: 8;
				-webkit-transition: opacity .2s ease-in-out;
				transition: opacity .2s ease-in-out;
				&.hover {
					opacity: 0;
					-webkit-transition: opacity .2s ease-in-out;
					transition: opacity .2s ease-in-out;
				}
			}
			.banner {
				position: relative;
				top: 0px;
				left: 0px;
				width: 100%;
				height: auto;
				z-index: 7;
				-webkit-transition: opacity .2s ease-in-out;
				transition: opacity .2s ease-in-out;
				&.hover {
					opacity: 0;
					-webkit-transition: opacity .2s ease-in-out;
					transition: opacity .2s ease-in-out;
				}
			}
		}
	}

	#header .centering,
	#footer .centering {
		width: initial;
	}
}