$camp5th_sprite: sprite-map('camp5th/s/*.png');
$history_sprite: sprite-map('history/s/*.png');
 
@mixin sprite_replace_text($sprite, $img-name){
	@include hide_text;
	display: block;
	background: sprite($sprite, $img-name) no-repeat;
	width: image_width(sprite_file($sprite, $img-name));
	height: image_height(sprite_file($sprite, $img-name));
}

@mixin sprite_replace_text_anchor($sprite, $img-name){
	@include sprite_replace_text($sprite, $img-name);
	&:hover, &:focus, &.selected, &.active {
		background: sprite($sprite, $img-name + "_h") no-repeat;
	}
}

@mixin sprite_replace_text_anchor_selected($sprite, $img-name){
	@include sprite_replace_text_anchor($sprite, $img-name);
	&.selected, &[data-selected="true"] {
		background: sprite($sprite, $img-name + "_s") no-repeat;
	}
}

@mixin content_right {
	float: right;
	width: 820px;
	margin-right: 10px;
}

@mixin organizers {
	.organizers {
		@include content_right;
		margin-top: 40px;
		h4 {
			font-size: 13px;
			line-height: 14px;
			color: #c8c8c8;
			padding: 6px 0px;
			border-top: 1px solid #e0e0e0;
			border-bottom: 1px solid #e0e0e0;
			margin-bottom: 4px;
			margin-top: 20px;
		}
		.organizer {
			width: 100%;
			float: left;
			&.nolink {
				height: 16px;
				padding: 7px 0px;
			}
			a {
				display: block;
				padding: 7px 0px;
				cursor: pointer;
				height: 16px;
				&:hover {
					.link { color: #0074d9 !important }
				}
			}
			.name {
				float: left;
				width: 60px;
				font-size: 16px;
				color: #666;
			}
			.name_en,
			.link {
				font-size: 13px;
				line-height: 16px;
				font-weight: normal;
				color: #999;
			}
			.name_en { float: left }
			.link {
				float: right;
			}
		}
	}
}


@mixin footer {
	#footer {
		float: left;
		width: 100%;
		background-color: black;
		&.histories {
			&.show {
				background-color: #8dc63f;
				a {
					&.mail { @include sprite_replace_text_anchor($history_sprite, 'footer_btn_mail'); }
					&.twitter { @include sprite_replace_text_anchor($history_sprite, 'footer_btn_twitter'); }
					&.facebook { @include sprite_replace_text_anchor($history_sprite, 'footer_btn_facebook'); }
				}
				.copyright {
					color: white;
				}
			}
			.centering {
				border: none;
			}
		}
		.centering {
			padding-top: 25px;
			padding-bottom: 10px;
			border-top: 1px solid #999;
			text-align: center;
			ul {
				li {
					display: inline-block;
					*display: inline;
					zoom: 1;
					margin: 0px 4px 14px;
					a {
						&.mail { @include sprite_replace_text_anchor($camp5th_sprite, 'footer_btn_mail'); }
						&.twitter { @include sprite_replace_text_anchor($camp5th_sprite, 'footer_btn_twitter'); }
						&.facebook { @include sprite_replace_text_anchor($camp5th_sprite, 'footer_btn_facebook'); }
					}
				}
			}
			.copyright {
				font-size: 11px;
				color: #999;
			}
		}
	}
}

header, nav, section, article, aside, footer {
	// for IE8 under.
	display:block;
}

body,input,textarea,select,button,table,pre{
	font-family: "Helvetica", "Arial", "Apple SD Gothic Neo", "나눔고딕", "NanumGothic", "NanumGothicOTF", "맑은고딕", "Malgun Gothic", dotum, '돋움', "Trebuchet MS", "Lucida Grande", "Tahoma", sans-serif;
	font-size: 12px;
}


.ellipsis {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-ms-text-overflow:ellipsis;
	-moz-binding:url('/ellipsis.xml#ellipsis');
	display:block;
}

///////////////////////////////////
// usefulls

.fl { float: left }
.fr { float: right }

.fs10 { font-size: 10px }
.fs11 { font-size: 11px }
.fs12 { font-size: 12px }
.fs14 { font-size: 14px }
.fs16 { font-size: 16px }
.fs18 { font-size: 18px }
.fs20 { font-size: 20px }
.fs24 { font-size: 24px }
.fs28 { font-size: 28px }

.fwb { font-weight: bold }
.fwn { font-weight: normal }
.fcb { color: #0074d9 !important }
.fcbl { color: black !important }
.fcr { color: #ff4136 !important }
.fcw { color: white !important }
.fcy { color: #ffdc00 !important }
.fcg { color: #2ecc40 !important }
.fcgr { color: silver !important }
.tdu { text-decoration: underline !important }

.lh160 { line-height: 160% }

.m0auto { margin: 0 auto }
.ml0 { margin-left: 0px }
.ml5 { margin-left: 5px }
.ml10 { margin-left: 10px }
.ml15 { margin-left: 15px }
.ml20 { margin-left: 20px }
.ml25 { margin-left: 25px }
.mr5 { margin-right: 5px }
.mr10 { margin-right: 10px }
.mr15 { margin-right: 15px }
.mr20 { margin-right: 20px }
.mr25 { margin-right: 25px }
.mb0 { margin-bottom: 0px !important}
.mb5 { margin-bottom: 5px !important}
.mb10 { margin-bottom: 10px !important}
.mb15 { margin-bottom: 15px !important}
.mb20 { margin-bottom: 20px !important}
.mt0 { margin-top: 0px !important}
.mt5 { margin-top: 5px !important}
.mt10 { margin-top: 10px !important}
.mt15 { margin-top: 15px !important}
.mt20 { margin-top: 20px !important}
.mt40 { margin-top: 40px !important}
.m0 { margin: 0px !important}
.m5 { margin: 5px !important}
.m10 { margin: 10px !important}
.p0 { padding: 0px !important}
.p5 { padding: 5px !important}
.p10 { padding: 10px !important}
.pl5 { padding-left: 5px !important}
.pl10 { padding-left: 10px !important}
.pr5 { padding-right: 5px !important}
.pr10 { padding-right: 10px !important}

.di { display: inline }
.db { display: block }
.dib { display: inline-block }
.dn { display: none }

.w20p { width: 20% }
.w33p { width: 33% }
.w40p { width: 40% }
.w49p { width: 49% }
.w50p { width: 50% }
.w60p { width: 60% }
.w75p { width: 75% }
.h50p { height: 50% }
.w100p { width: 100% }
.h100p { height: 100% }
.w10 { width: 10px }
.w20 { width: 20px }
.w25 { width: 25px }
.w30 { width: 30px }
.w40 { width: 40px }
.w50 { width: 50px }
.w75 { width: 75px }
.w80 { width: 80px }
.w100 { width: 100px !important}
.w150 { width: 150px !important }
.w175 { width: 175px !important }
.w200 { width: 200px !important }
.w250 { width: 250px !important }
.w300 { width: 300px !important }
.w400 { width: 400px !important }
.w500 { width: 500px !important }
.w600 { width: 600px !important }
.wauto { width: auto !important }

.h10 { height: 10px }
.h20 { height: 20px }
.h50 { height: 50px }
.h75 { height: 75px }
.h100 { height: 100px !important}
.h150 { height: 150px !important }
.h175 { height: 175px !important }
.h200 { height: 200px !important }
.h250 { height: 250px !important }
.h300 { height: 300px !important }
.h500 { height: 500px !important }
.h600 { height: 600px !important }

.tac { text-align: center !important }
.tal { text-align: left !important }
.tar { text-align: right !important }

.vat { vertical-align: top }

.bg-navy { background-color: #001f3f; }
.bg-blue { background-color: #0074d9; }
.bg-aqua { background-color: #7fdbff; }
.bg-teal { background-color: #39cccc; }
.bg-olive { background-color: #3d9970; }
.bg-green { background-color: #2ecc40; }
.bg-lime { background-color: #01ff70; }
.bg-yellow { background-color: #ffdc00; }
.bg-orange { background-color: #ff851b; }
.bg-red { background-color: #ff4136; }
.bg-fuchsia { background-color: #f012be; }
.bg-purple { background-color: #b10dc9; }
.bg-maroon { background-color: #85144b; }
.bg-white { background-color: white; }
.bg-gray { background-color: #aaaaaa; }
.bg-silver { background-color: #dddddd; }
.bg-black { background-color: #111111; }

/* Colors */
.navy { color: #001f3f !important }
.blue { color: #0074d9 !important }
.aqua { color: #7fdbff !important }
.teal { color: #39cccc !important }
.olive { color: #3d9970 !important }
.green { color: #2ecc40 !important }
.lime { color: #01ff70 !important }
.yellow { color: #ffdc00 !important }
.orange { color: #ff851b !important }
.red { color: #ff4136 !important }
.fuchsia { color: #f012be !important }
.purple { color: #b10dc9 !important }
.maroon { color: #85144b !important }
.white { color: white !important }
.silver { color: #dddddd !important }
.gray { color: #aaaaaa !important }
.black { color: #111111 !important }

/* PRETTIER LINKS */
a {
  text-decoration: none;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out; }
a:link {
  color: #0074d9;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out; }
a:visited {
  color: #0074d9; }
a:hover {
  color: #7fdbff;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out; }
a:active {
  color: #ff851b;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out; }
